<%- include("header") %>
    <div id="content" class="main-content">


        <div id="buttonsIcons" class="col-lg-12 layout-spacing" style="margin-top: 1%;">
            <div class="statbox widget box box-shadow">

                <div class="widget-content widget-content-area text-center">
                    <button class="btn btn-warning mb-2 mr-2 btn-rounded">Stop Taking Bets </button>
                    <br>
                    <br>
                    <br>
                    <h4>Lucky Number?</h4>

                    <input id="t-text" type="text" name="txt" placeholder="Some Text..." class="form-control" required style="width: 12%;margin-left: 44%;">
                    <br>
                    <button class="btn btn-success mb-2">Success</button>

                </div>
            </div>
        </div>
    </div>







    <%- include("footer") %>