<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no">
    <title>Sales Admin | Daxy - Multipurpose Bootstrap Dashboard Template </title>
    <link rel="icon" type="image/x-icon" href="/assets/img/favicon.ico" />
    <link href="/assets/css/loader.css" rel="stylesheet" type="text/css" />
    <script src="/assets/js/loader.js"></script>
    <!-- BEGIN GLOBAL MANDATORY STYLES -->
    <link href="https://fonts.googleapis.com/css?family=Nunito:400,600,700" rel="stylesheet">
    <link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="/assets/css/plugins.css" rel="stylesheet" type="text/css" />
    <!-- END GLOBAL MANDATORY STYLES -->
    <!-- login css start -->
    <link rel="stylesheet" type="text/css" href="/assets/css/forms/theme-checkbox-radio.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/forms/switches.css">
    <!-- login css end  -->
    <!-- BEGIN PAGE LEVEL PLUGINS/CUSTOM STYLES -->
    <link href="/plugins/apex/apexcharts.css" rel="stylesheet" type="text/css">
    <link href="/assets/css/dashboard/dash_1.css" rel="stylesheet" type="text/css" />
    <!-- END PAGE LEVEL PLUGINS/CUSTOM STYLES -->

    <!-- font icons css -->
    <link href="/assets/css/scrollspyNav.css" rel="stylesheet" type="text/css">
    <link href="/assets/css/style.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="/plugins/font-icons/fontawesome/css/regular.css">
    <link rel="stylesheet" href="/plugins/font-icons/fontawesome/css/fontawesome.css">

    <!-- font icons css end -->
    <!-- table css start -->
    <link rel="stylesheet" type="text/css" href="/plugins/table/datatable/datatables.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/forms/theme-checkbox-radio.css">
    <link rel="stylesheet" type="text/css" href="/plugins/table/datatable/dt-global_style.css">
    <link rel="stylesheet" type="text/css" href="/plugins/table/datatable/custom_dt_custom.css">
    <!-- table css END -->
    <!-- form search button css start  -->
    <link href="/assets/css/scrollspyNav.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" type="text/css" href="/plugins/select2/select2.min.css">
    <!-- form search button css end  -->
    <!-- modal start -->
    <!-- BEGIN PAGE LEVEL PLUGINS -->
    <link href="/plugins/animate/animate.css" rel="stylesheet" type="text/css" />
    <!-- END PAGE LEVEL PLUGINS -->

    <!--  BEGIN CUSTOM STYLE FILE  -->
    <link href="/assets/css/scrollspyNav.css" rel="stylesheet" type="text/css" />
    <link href="/assets/css/components/custom-modal.css" rel="stylesheet" type="text/css" />
    <!--  END CUSTOM STYLE FILE  -->
    <!-- modal end -->
    <!-- profile css -->
    <link href="/assets/css/users/user-profile.css" rel="stylesheet" type="text/css" />
    <!-- profile end -->
    <script src="/assets/js/elements/tooltip.js"></script>
    <link href="/assets/css/scrollspyNav.css" rel="stylesheet" type="text/css" />
    <link href="/assets/css/components/cards/card.css" rel="stylesheet" type="text/css" />

    <link href="/assets/css/scrollspyNav.css" rel="stylesheet" type="text/css" />
    <link href="/plugins/animate/animate.css" rel="stylesheet" type="text/css" />
    <script src="/plugins/sweetalerts/promise-polyfill.js"></script>
    <link href="/plugins/sweetalerts/sweetalert2.min.css" rel="stylesheet" type="text/css" />
    <link href="/plugins/sweetalerts/sweetalert.css" rel="stylesheet" type="text/css" />
    <link href="/assets/css/components/custom-sweetalert.css" rel="stylesheet" type="text/css" />
    <style>
        #example1 {
            border: 2px solid black;
            padding: 10px;
            border-radius: 25px;
        }
    </style>
</head>

<body>
    <!-- BEGIN LOADER -->
    <div id="load_screen">
        <div class="loader">
            <div class="loader-content">
                <div class="spinner-grow align-self-center"></div>
            </div>
        </div>
    </div>
    <!--  END LOADER -->

    <!--  BEGIN NAVBAR  -->
    <div class="header-container fixed-top">
        <header class="header navbar navbar-expand-sm">

            <ul class="navbar-item theme-brand flex-row  text-center">

                <li class="nav-item theme-text">
                    <a href="index-2.html" class="nav-link"> Roulette </a>
                </li>
            </ul>


            <ul class="navbar-item flex-row ml-md-auto">





                <li class="nav-item dropdown user-profile-dropdown">
                    <a href="javascript:void(0);" class="nav-link dropdown-toggle user" id="userProfileDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                        <img src="/assets/img/profile-16.jpg" alt="avatar">
                    </a>
                    <div class="dropdown-menu position-absolute" aria-labelledby="userProfileDropdown">
                        <div class="">

                            <div class="dropdown-item">
                                <a class="" href="/cashier/logout"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-log-out"><path d="M9 21H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h4"></path><polyline points="16 17 21 12 16 7"></polyline><line x1="21" y1="12" x2="9" y2="12"></line></svg> Sign Out</a>
                            </div>
                        </div>
                    </div>
                </li>

            </ul>
        </header>
    </div>
    <!--  END NAVBAR  -->

    <!--  BEGIN NAVBAR  -->
    <div class="sub-header-container">
        <header class="header navbar navbar-expand-sm">
            <a href="javascript:void(0);" class="sidebarCollapse" data-placement="bottom"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-menu"><line x1="3" y1="12" x2="21" y2="12"></line><line x1="3" y1="6" x2="21" y2="6"></line><line x1="3" y1="18" x2="21" y2="18"></line></svg></a>

            <ul class="navbar-nav flex-row">
                <li>
                    <div class="page-header">

                        <nav class="breadcrumb-one" aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="javascript:void(0);">Dashboard</a></li>
                            </ol>
                        </nav>

                    </div>
                </li>
            </ul>

        </header>
    </div>
    <!--  END NAVBAR  -->

    <!--  BEGIN MAIN CONTAINER  -->
    <div class="main-container" id="container">

        <div class="overlay"></div>
        <div class="search-overlay"></div>

        <!--  BEGIN SIDEBAR  -->
        <div class="sidebar-wrapper sidebar-theme">

            <nav id="sidebar">
                <div class="shadow-bottom"></div>
                <ul class="list-unstyled menu-categories" id="accordionExample">
                    <li class="menu">
                        <a href="/admin/currentgameDetails" aria-expanded="false" class="dropdown-toggle">
                            <div class="">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-home"><path d="M3 9l9-7 9 7v11a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2z"></path><polyline points="9 22 9 12 15 12 15 22"></polyline></svg>

                                <span> Home</span>
                            </div>

                        </a>

                    </li>
                    <!-- <li class="menu">
                        <a href="/" aria-expanded="false" class="dropdown-toggle">
                            <div class="">
                                <svg stroke="currentColor" width=10px height=15px>
                                    <path stroke="black" id="svg_7" d="M0,0 m6.83,14.83 l-6.12,-7.33 m-0.71,-7.5 m0.37,5.75 h9.3 m-9.3,0 m-0.37,-3.89 m0.51,1 h9.3 m-0.51,-1 m-9.3,0 m0.507518,1.001516c3.903211,-0.048188 4.674216,1.060131 5.156094,2.216638c0.481878,1.156507 -0.144564,2.84308 -1.252883,3.662272c-1.108319,0.819193 -3.373145,0.626442 -3.71046,0.626442" stroke-width="1" fill='none'/>
                                 </svg>
                                <span style="font-size: 95%;">Transaction History</span>
                            </div>
                        </a>
                    </li> -->

                </ul>
                <!-- <div class="shadow-bottom"></div> -->

            </nav>

        </div>
        <!--  END SIDEBAR  -->
        <div id="content" class="main-content">
            <section>

                <div class="statbox widget box box-shadow" style="margin-top: 1%;">
                    <div id="example1">
                        <div class="row">
                            <div class="col-md-3 col-sm-0">
                            </div>
                            <div class="col-md-6 col-sm-12">
                                <div class="game-single-content" style="padding-bottom:30%;margin-top: 10%;">
                                    <h3 class="text-center themeColor">MANAGE CASH </h3>
                                    <br>
                                    <div class="input-group">
                                        <label>Please select a user</label>
                                        <!-- <input type="text" class="form-control" placeholder=" ₹ Enter User Id"> -->
                                        <select onchange="getUsername(this)" id="list" class="form-control  basic">
                                            <option>Choose...</option>
                                </select>
                                    </div>
                                    <div class="text-center">
                                        <!-- <button type="button" class="login_button btn btn-warning" style="width: 196px;"><b>Find User</b></button> -->
                                    </div> <br>
                                    <label>enter credit amount</label>

                                    <div class="input-group mb-3 ">

                                        <input id="credit" type="text" class="form-control" placeholder=" ₹ 500">
                                    </div>
                                    <div class="text-center">
                                        <button type="button" onclick="makeTransaction('credit')" class="login_button btn btn-warning" style="width: 196px;"><b>Credit</b></button>

                                    </div>
                                    <br>
                                    <label>enter debit amount</label>

                                    <div class="input-group mb-3">

                                        <input id="debit" type="text" class="form-control" placeholder=" ₹ 500">
                                    </div>
                                    <div class="text-center">
                                        <button type="button" onclick="makeTransaction('debit')" class="login_button btn btn-warning" style="width: 196px;"><b>Debit</b></button>
                                    </div>


                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-0">

                        </div>
                    </div>
            </section>
            <script src="/assets/axios.js"></script>

            <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.0/axios.min.js"></script> -->
            <script>
                let username;

                function getUsername(s) {
                    username = s[s.selectedIndex].value; // get value

                }

                function makeTransaction(type) {
                    let amount = document.getElementById(type).value;
                    axios.post(`http://localhost:7000/cashier/cashierTransaction?status=${type}`, {
                        'user_id': username,
                        'amount': amount
                    }).then(
                        (response) => {
                            // console.log(response.data);
                            let reStatus = response.data;
                            if (parseInt(reStatus.code) < 400) {
                                swal({
                                    title: reStatus.name,
                                    text: "Transaction completed",
                                    type: 'success',
                                    padding: '2em'
                                });
                            } else if (parseInt(reStatus.code) >= 400) {
                                swal({
                                    title: reStatus.name,
                                    text: reStatus.message,
                                    type: 'question',
                                    padding: '2em'
                                })

                            }


                            // setTimeout(location.reload(), 4000);

                            var result = response.data;
                            // console.log(result);


                        },
                        (error) => {
                            console.log(error);
                        }
                    );
                }




                function makeGetRequest(path) {
                    axios.get(path).then(
                        (response) => {
                            var result = response.data;

                            const sb = document.querySelector('#list');
                            // console.log(result);
                            result.users.map((users) => {
                                let option = new Option(users.username, users.username);
                                // add it to the list
                                sb.add(option, undefined);
                            });

                            // console.log(result.details[0].name);
                        },
                        (error) => {
                            console.log(error);
                        }
                    );
                }
                makeGetRequest('http://localhost:7000/cashier/getUsers');
            </script>
            <%- include("footer") %>