<!--=============================================
                    Footer part Start
    ==============================================-->

<section>
    <div class="foot_bot text-center">
        <p>&copy; 2020. All rights reserved by Daxy</p>
        <div class="effect">
            <img src="images/shape.png" alt="shape">
        </div>
    </div>
</section>
<!--=============================================
                    Footer part end
    ==============================================-->




<script src="/js/jquery-1.12.4.min.js"></script>
<script src="/js/popper.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/jquery.nicescroll.min.js"></script>
<script src="/js/jquery.countdown.min.js"></script>
<script src="/js/slick.min.js"></script>
<script src="/js/venobox.min.js"></script>
<script src="/js/script.js"></script>
</body>


<!-- Mirrored from themesitem.com/demos/html/jackpot/jackpot/ by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 12 Jul 2020 19:56:46 GMT -->

</html>