<%- include("header1") %>
    <!-- Tournaments Area Start -->
    <section class="tournaments">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-8 col-md-10">
                    <div class="section-heading">

                        <h2 class="title">
                            Game Timings
                        </h2>

                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-4">
                    <div class="tournament-time-box">
                        <div class="top-area">
                            <div class="status">
                                In Progress
                            </div>
                            <h4 class="title">
                                Morning
                            </h4>
                            <p class="sub-title">
                                Slot
                            </p>
                        </div>
                        <div class="timer-area">
                            <h4 class="title">
                                6.00 Am
                            </h4>
                            <div class="clock"></div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4">
                    <div class="tournament-time-box">
                        <div class="top-area">
                            <!-- <div class="status">
                                In Progress
                            </div> -->
                            <h4 class="title">
                                Afternoon
                            </h4>
                            <p class="sub-title">
                                Slots
                            </p>
                        </div>
                        <div class="timer-area">
                            <h4 class="title">
                                2.00 Pm
                            </h4>
                            <div class="clock2"></div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4">
                    <div class="tournament-time-box">
                        <div class="top-area">
                            <!-- <div class="status">
                                In Progress
                            </div> -->
                            <h4 class="title">
                                Evening
                            </h4>
                            <p class="sub-title">
                                Slot
                            </p>
                        </div>
                        <div class="timer-area">
                            <h4 class="title">
                                8.00 Pm
                            </h4>
                            <div class="clock2"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </section>
    <!-- Tournaments Area End -->

    <%- include("footer1") %>