<%- include("header1") %>
    <main>
        <section class="footer_one game-single-area pt-30">



            <div class="main content"> <br>
                <h3 class="text-center themeColor">Game Timings</h3>
                <br>
                <h3 class="text-center " style="color : #1c1421;">Morning = 6.00 AM</h3>
                <br>
                <br>
                <h3 class="text-center " style="color : #1c1421;">Afternoon = 2.00 PM</h3>
                <br>
                <br>
                <h3 class="text-center " style="color : #1c1421;">Evening = 6.00 PM</h3>
                <br>



            </div>

        </section>
    </main>
    <%- include("footer1") %>