<!doctype html>
<html class="no-js" lang="en">

<!-- Mirrored from themebeyond.com/html/geco/Geco/ by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 13 Jul 2020 18:33:43 GMT -->

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Geco - eSports Gaming HTML5 Template</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="shortcut icon" type="image/x-icon" href="img/favicon.png">
    <!-- Place favicon.ico in the root directory -->

    <!-- CSS here -->
    <link rel="stylesheet" href="/user/css/bootstrap.min.css">
    <link rel="stylesheet" href="/user/css/animate.min.css">
    <link rel="stylesheet" href="/user/css/magnific-popup.css">
    <link rel="stylesheet" href="/user/css/fontawesome-all.min.css">
    <link rel="stylesheet" href="/user/css/odometer.css">
    <link rel="stylesheet" href="/user/css/aos.css">
    <link rel="stylesheet" href="/user/css/owl.carousel.min.css">
    <link rel="stylesheet" href="/user/css/meanmenu.css">
    <link rel="stylesheet" href="/user/css/slick.css">
    <link rel="stylesheet" href="/user/css/default.css">
    <link rel="stylesheet" href="/user/css/style.css">
    <link rel="stylesheet" href="/user/css/responsive.css">
    <!-- table css start -->
    <link rel="stylesheet" type="text/css" href="/plugins/table/datatable/datatables.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/forms/theme-checkbox-radio.css">
    <link rel="stylesheet" type="text/css" href="/plugins/table/datatable/dt-global_style.css">
    <link rel="stylesheet" type="text/css" href="/plugins/table/datatable/custom_dt_custom.css">
    <script src="/plugins/table/datatable/datatables.js"></script>

    <!-- table css END -->
    <style>
        .themeColor {
            color: #e4a101 !important;
        }
    </style>
    <style>
        .footer_one {
            padding-bottom: 45%;
        }
        
        @media (max-width: 768px) {
            .footer_one {
                padding-bottom: 45%;
            }
        }
    </style>

</head>


<body>


    <!-- header-area -->
    <header>

        <div id="sticky-header" class="main-header">
            <div class="container-fluid container-full-padding">
                <div class="row">
                    <div class="col-12">
                        <div class="main-menu">
                            <nav>
                                <div class="logo">
                                    <a href="index-2.html"><img src="/user/img/logo/logo.png" alt="Logo"></a>
                                </div>
                                <div id="mobile-menu" class="navbar-wrap d-none d-lg-flex">
                                    <ul>
                                        <li class="show"><a href="/user/playerHome">Home</a>
                                        </li>

                                        <li><a href="/user/gameTiming">Game Timing</a></li>
                                        <li><a href="/user/myHistory">My History</a></li>
                                        <li><a href="/user/playergameHistory">Game History</a></li>
                                        <li><a href="shop.html">Log Out</a></li>

                                    </ul>
                                </div>
                            </nav>
                        </div>
                        <div class="mobile-menu"></div>
                    </div>
                    <!-- Modal Search -->

                </div>
            </div>
        </div>
    </header>
    <!-- header-area-end -->

    <!-- main-area -->
    <main>