<%- include ("header") %>

    <!--=============================================
                    Banner part start
    ==============================================-->
    <section id="banner_part">
        <div class="container">
            <div class="row">
                <div class="col-lg-5 col-xl-5 col-md-6 pl-md-0 d-none d-md-block">
                    <div class="banner_img">
                        <img src="/images/about_2.jpg" alt="index_banner">
                    </div>
                </div>
                <div class="col-lg-5 col-xl-5 col-md-6 col-12 pr-md-0 offset-lg-1 offset-xl-1">
                    <div class="banner_text text-center text-md-left">
                        <h4>Today’s Jackpot</h4>
                        <h1>777</h1>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud.</p>
                        <div class="text-center">
                            <a href="#">Play Now</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--=============================================
                    Banner part end
    ==============================================-->


    <!--=============================================
                    Tounament part Start
    ===========================================   -->
    <section id="tounament_part">
        <div class="container">
            <div class="row">
                <div class="col-lg-3">

                </div>

                <div class="col-lg-6 pl-md-0">
                    <div class="touna_head_left">
                        <h3 class="text-center">Make A Bet
                            <div class="effect2">
                                <img src="/images/shape.png" alt="shape">
                            </div>
                        </h3>

                        <div class="accordion touna_left_inner" id="accordionExample">
                            <div class="">
                                <div class="card-header" id="headingOne">
                                    <div class="container">
                                        <div class="card add_border  border-black" style="background-color:#6f42c1;">

                                            <div class="panel panel-default">
                                                <div class="panel-body">
                                                    <form accept-charset="UTF-8" role="form">
                                                        <fieldset style="margin: 13px;">

                                                            <div class="form-group">
                                                                <h5> Enter Number</h5>
                                                                <input class="form-control mt-4" style="height: 50px;" " type="number " >

                                                            </div>

                                                            <div class="form-group ">
                                                                <h5> Enter Points</h5>
                                                                <input class="form-control mt-4 " style="height: 50px; "  type="number " >

                                                            </div>
                                                        </fieldset>
                                                        <div class="row">
                                                            <div class="col-lg-3 col-sm-3">
                        
                                                            </div>
                                            
                                                            <div class="col-lg-6 col-sm-6 text-center">
                                                                <button style="padding-left:0% !important;text-align:center;" type="button" class="mb-5 btn-sm btn btn-primary btn-sm" ><span style="color:#eee8aa">Submit</span></button>
                        
                                                            </div>
                        
                                                        <div class="col-lg-3 col-sm-3">
                        
                                                        </div>
                                                 </div>

                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                         

                
                            </div>

                        </div>
                        
                    </div>
                </div>
                <div class="col-lg-3 ">

                </div>

            </div>
        </div>
    </section>

    <!--=============================================
                    Tounament part end
    ===========================================   -->


    <%- include ("footer") %>