<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NGO</title>
    <link rel="stylesheet" href="/user2/styles.css">
</head>

<body>
    <div class="layer">
        <div class="menu">
            <img src="/user2/assets/menu.svg" alt="menu/logo">
        </div>


        <div class="enter">

            <a href="/user/login">
                <img class="login" src="/user2/assets/login.svg" alt="login">
            </a>

            <br />

            <a href="/user/register">
                <img class="signup" src="/user2/assets/signup.svg" alt="signup">
            </a>

        </div>

    </div>
</body>

</html>