<%- include("header1") %>
    <main>
        <section class="footer_one game-single-area pt-30">

            <div class="main-content">
                <br>
                <h3 class="text-center themeColor">My History</h3>
                <br>
                <div class="container">
                    <table id="style-3" class="table style-3  table-hover">
                        <thead>
                            <tr class="checkbox-column text-center">
                                <th class="themeColor">No.</th>
                                <th class="themeColor">Source</th>
                                <th class="themeColor"> Amount </th>
                                <th class="themeColor">Date</th>
                                <th class="themeColor">Time</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="checkbox-column text-center">
                                <td> 1 </td>
                                <td>Cashier</td>
                                <td>2000</td>
                                <td>14/07/2020</td>
                                <td>1.45</td>



                            </tr>
                            <tr class="checkbox-column text-center">
                                <td> 2 </td>
                                <td>Game</td>
                                <td>1000</td>
                                <td>14/07/2020</td>
                                <td>2.00</td>


                            </tr>

                        </tbody>
                    </table>
                </div>
            </div>
        </section>
    </main>

    <%- include("footer1") %>