<%- include("header1") %>
    <main>
        <section class="footer_one game-single-area pt-30">

            <div class="main-content">
                <br>
                <h3 class="text-center themeColor">Game History</h3>
                <br>
                <div class="container">
                    <table id="style-3" class="table style-3  table-hover">
                        <thead>
                            <tr class="checkbox-column text-center">
                                <th class="themeColor">Game Id</th>
                                <th class="themeColor">Date</th>
                                <th class="themeColor">Time</th>
                                <th class="themeColor">Amount Spent</th>
                                <th class="themeColor">Amount Earn</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="checkbox-column text-center">
                                <td> 1 </td>
                                <td>14/07/2020</td>
                                <td>2.00</td>
                                <td>200</td>
                                <td>2000</td>




                            </tr>
                            <tr class="checkbox-column text-center">
                                <td> 2 </td>
                                <td>14/07/2020</td>
                                <td>6.00</td>
                                <td>2000</td>
                                <td>100</td>


                            </tr>

                        </tbody>
                    </table>
                </div>

            </div>
        </section>
    </main>
    <%- include("footer1") %>