<!doctype html>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Geco - eSports Gaming HTML5 Template</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="shortcut icon" type="image/x-icon" href="img/favicon.png">
    <!-- Place favicon.ico in the root directory -->
    <style>
        .login_button {
            margin-left: 35%;
        }
        
        @media (max-width: 768px) {
            .login_button {
                margin-left: 26%;
            }
        }
    </style>
    <!-- CSS here -->
    <link rel="stylesheet" href="/user/css/bootstrap.min.css">
    <link rel="stylesheet" href="/user/css/animate.min.css">
    <link rel="stylesheet" href="/user/css/magnific-popup.css">
    <link rel="stylesheet" href="/user/css/fontawesome-all.min.css">
    <link rel="stylesheet" href="/user/css/odometer.css">
    <link rel="stylesheet" href="/user/css/aos.css">
    <link rel="stylesheet" href="/user/css/owl.carousel.min.css">
    <link rel="stylesheet" href="/user/css/meanmenu.css">
    <link rel="stylesheet" href="/user/css/slick.css">
    <link rel="stylesheet" href="/user/css/default.css">
    <link rel="stylesheet" href="/user/css/style.css">
    <link rel="stylesheet" href="/user/css/responsive.css">
</head>

<body>
    <header>

        <div id="sticky-header" class="main-header">
            <div class="container-fluid container-full-padding">
                <div class="row">
                    <div class="col-12">
                        <div class="main-menu">
                            <nav>
                                <div class="logo">
                                    <a href="index-2.html"><img src="/user/img/logo/logo.png" alt="Logo"></a>
                                </div>
                                <div id="mobile-menu" class="navbar-wrap d-none d-lg-flex">
                                    <ul>
                                        <li class="show"><a href="/">Home</a>
                                        </li>

                                        <li><a href="/user/login">Login</a></li>
                                        <li><a href="/user/register">Register</a></li>
                                    </ul>
                                </div>

                            </nav>
                        </div>
                        <div class="mobile-menu"></div>
                    </div>

                </div>
            </div>
        </div>
    </header>
    <!-- header-area-end -->

    <!-- main-area -->
    <main>
        <section class="game-single-area pt-30 pb-120">
            <div class="container">
                <div class="row">
                    <div class="col-md-3 col-sm-0">

                    </div>
                    <div class="col-md-6 col-sm-12">
                        <div class="game-single-content">
                            <form action="/user/register" method="POST">
                                <div class="form-row">
                                    <div class="form-group col-md-6">
                                        <label for="inputEmail4">Phone No</label>
                                        <input type="tel" name="username" class="form-control" id="inputEmail4">
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label for="inputPassword4">Password</label>
                                        <input type="password" name="password" class="form-control" id="inputPassword4">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="inputAddress2">Full Name</label>
                                    <input type="text" name="name" class="form-control" id="inputAddress2" placeholder="full name">
                                </div>
                                <div class="form-group">
                                    <label for="inputAddress">Email</label>
                                    <input type="email" name="email" class="form-control" id="inputAddress" placeholder="example@test.com">
                                </div>
                                <button type="submit" class="login_button btn btn-primary">Register</button>
                            </form>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-0">

                    </div>
                </div>
            </div>
        </section>
    </main>
    <!-- main-area-end -->

    <!-- footer-area -->
    <footer>



        <div class="copyright-wrap">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-md-6">
                        <div class="copyright-text">
                            <p>Copyright © 2020 <a href="#">Geco</a> All Rights Reserved.</p>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 d-none d-md-block">
                        <div class="payment-method-img text-right">
                            <img src="/user/img/images/card_img.png" alt="img">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- footer-area-end -->





    <!-- JS here -->
    <script data-cfasync="false" src="../../../cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script>
    <script src="/user/js/vendor/jquery-3.4.1.min.js"></script>
    <script src="/user/js/popper.min.js"></script>
    <script src="/user/js/bootstrap.min.js"></script>
    <script src="/user/js/isotope.pkgd.min.js"></script>
    <script src="/user/js/slick.min.js"></script>
    <script src="/user/js/jquery.meanmenu.min.js"></script>
    <script src="/user/js/wow.min.js"></script>
    <script src="/user/js/aos.js"></script>
    <script src="/user/js/jquery.lettering.js"></script>
    <script src="/user/js/jquery.textillate.js"></script>
    <script src="/user/js/jquery.odometer.min.js"></script>
    <script src="/user/js/jquery.appear.js"></script>
    <script src="/user/js/owl.carousel.min.js"></script>
    <script src="/user/js/jquery.countdown.min.js"></script>
    <script src="/user/js/jquery.scrollUp.min.js"></script>
    <script src="/user/js/imagesloaded.pkgd.min.js"></script>
    <script src="/user/js/jquery.magnific-popup.min.js"></script>
    <script src="/user/js/plugins.js"></script>
    <script src="/user/js/main.js"></script>
</body>

<!-- Mirrored from themebeyond.com/html/geco/Geco/ by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 13 Jul 2020 18:34:13 GMT -->

</html>