<!DOCTYPE html>
<html lang="en">


<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="forntEnd-Developer" content="Mamunur Rashid">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Roulette</title>
    <!-- favicon -->
    <link rel="shortcut icon" href="/user/assets/images/favicon.html" type="image/x-icon">
    <!-- bootstrap -->
    <link rel="stylesheet" href="/user/assets/css/bootstrap.min.css">
    <!-- Plugin css -->
    <link rel="stylesheet" href="/user/assets/css/plugin.css">

    <!-- stylesheet -->
    <link rel="stylesheet" href="/user/assets/css/style.css">
    <!-- responsive -->
    <link rel="stylesheet" href="/user/assets/css/responsive.css">
    <style>
        .back {
            background: url(/user/assets/images/play/playgame-bg.jpg);
            background-size: cover;
            background-position: center;
            background-repeat: repeat;
        }
        /* Chrome, Safari, Edge, Opera */
        
        input::-webkit-outer-spin-button,
        input::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }
        /* Firefox */
        
        input[type=number] {
            -moz-appearance: textfield;
        }
    </style>
</head>

<body class="back">

    <div class="back">
    </div>

    <!-- login area start -->
    <div class="modal fade login-modal show" id="login" tabindex="-1" role="dialog" aria-labelledby="login" style="display: block; padding-right: 2%; padding-left: 2%;" aria-modal="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="logo-area">
                    </div>
                    <div class="header-area">
                        <p class="sub-title">Enter your details below.</p>
                    </div>
                    <div class="form-area">
                        <form action="/user/register" method="POST">
                            <div class="form-group">
                                <label for="login-input-name">Name*</label>
                                <input type="text" name="name" class="input-field" id="login-input-name" placeholder="Enter your Full Name">
                            </div>
                            <div class="form-group">
                                <label for="login-input-phno">Phone No.*</label>
                                <input type="number" name="username" class="input-field" id="login-input-phno" placeholder="Enter your Phone No.">
                            </div>
                            <div class="form-group">
                                <label for="login-input-email">Email*</label>
                                <input type="email" name="email" class="input-field" id="login-input-email" placeholder="Enter your Email">
                            </div>
                            <div class="form-group">
                                <label for="login-input-password">Password*</label>
                                <input type="password" name="password" class="input-field" id="login-input-password" placeholder="Password">
                            </div>
                            <div class="form-group">
                                <label for="login-input-password"> Retype Password*</label>
                                <input type="password" name="password2" class="input-field" id="login-input-password" placeholder=" Retype Password">
                            </div>

                            <div class="form-group">
                                <button type="submit" class="mybtn1">Register</button>
                            </div>
                        </form>
                    </div>
                    <div class="form-footer">
                        <p>Already A Member?
                            <a href="#">LOG IN<i class="fas fa-angle-double-right"></i></a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- login area end -->
    <!-- jquery -->
    <script src="/user/assets/js/jquery.js"></script>
    <!-- popper -->
    <script src="/user/assets/js/popper.min.js"></script>
    <!-- bootstrap -->
    <script src="/user/assets/js/bootstrap.min.js"></script>
    <!-- plugin js-->
    <script src="/user/assets/js/plugin.js"></script>

    <!-- MpusemoverParallax JS-->
    <script src="/user/assets/js/TweenMax.js"></script>
    <script src="/user/assets/js/mousemoveparallax.js"></script>
    <!-- main -->
    <script src="/user/assets/js/main.js"></script>
</body>


</html>