<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NGO</title>
    <link rel="stylesheet" href="/user2/styles.css">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
</head>

<body>
    <div class="layer">

        <div class="menu">
            <img src="/user2/assets/menu.svg" alt="menu/logo">
        </div>
        <form action="/user/register" method="POST">
            <div class="form">
                <h1>Register</h1>
                <!-- <div class="input-box">
          <input placeholder="Name" type="text" name="name" id="name">
        </div> -->
                <div class="input-box">
                    <input placeholder="Mobile" type="text" name="username" id="mobile" pattern="[0-9]{10}" required>
                </div>
                <div class="input-box">
                    <input placeholder="Password" type="password" name="password" id="password" required>
                </div>
                <a>
                    <button class="submit-button" type="submit">
          <img class="signup" src="/user2/assets/signup.svg" alt="signup">
        </button>
                </a>
                <br>
                <span>Already Registered?</span>
                <br>
                <a href="/user/login" style="color: #FFF;">Login
        </a>
            </div>
        </form>
    </div>
</body>

</html>