<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>NGO</title>
    <link rel="stylesheet" href="/user2/styles.css">
</head>

<body>
    <div class="layer">
        <div class="menu">
            <img src="/user2/assets/menu.svg" alt="menu/logo">
        </div>

        <div class="form">
            <h1>Reset Password</h1>

            <form action="/user/forgot" method="POST">
                <div class="input-box">
                    <input type="text" name="mobile" id="mobile" placeholder="Registered Mobile Number" pattern="[0-9]{10}" required>
                </div>
                <button type="submit" style="outline: none !important; border: none; background: transparent;">
          <img src="/user2/assets/otp.svg">        
          </button>
            </form>

        </div>

    </div>
</body>

</html>