<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>NGO</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <!-- toaster -->
    <script src="//cdnjs.cloudflare.com/ajax/libs/toastr.js/2.0.2/js/toastr.min.js"></script>
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/toastr.js/2.0.2/css/toastr.min.css" , media="all">
    <script src="//cdnjs.cloudflare.com/ajax/libs/toastr.js/2.0.2/js/toastr.min.js"></script>

    <link rel="stylesheet" href="/user2/styles.css">
</head>

<body>
    <div class="layer">
        <div class="menu">
            <img src="/user2/assets/menu.svg" alt="menu/logo">
        </div>
        <form action="/user/reset-password" method="POST">

            <div class="form">
                <h1>Update Password</h1>
                <div class="input-box">
                    <input type="text" name="username" style="display: none;" value="">
                    <input type="password" name="password" id="confirm_password" placeholder="Password">
                </div>
                <div class="input-box">
                    <input type="password" name="confirm_password" id="password" placeholder="Confirm Password" onchange="checkPass()">
                </div>
                <button id='submit-button' type="submit" style="outline: none !important; border: none; background: transparent;" disabled>
          <img src="/user2/assets/update.svg">
        </button>
            </div>

        </form>
    </div>
</body>
<script>
    $('#password, #confirm_password').on('change', function() {
        if ($('#password').val() == $('#confirm_password').val()) {
            $('#submit-button').removeAttr("disabled");
        } else {
            toastr.warning("Passwords don't match");
            $('#submit-button').attr("disabled", true);
        }
    });
</script>

</html>