<%- include("header1") %>

    <div class="container">
        <header>
            <img src="/user2/assets/gametime.svg" id="gametime">
        </header>
        <main id="schedule">
            <ul>
                <li>MORNING
                    <br>
                    <h4>__</h4>
                    <span>6:00am</span>
                </li>
                <li>AFTERNOON
                    <br>
                    <h4>__</h4>
                    <span>2:00pm</span>
                </li>
                <li>EVENING
                    <br>
                    <h4>__</h4>
                    <span>6:00pm</span>
                </li>
                <li>EVENING
                    <br>
                    <h4>__</h4>
                    <span>8:00pm</span>
                </li>

            </ul>
        </main>
    </div>
    </div>
    <script src="/app.js"></script>
    <%- include("footer1") %>