/*//////////////////////////////////////////////////////////////////
[ FONT ]*/

/*//////////////////////////////////////////////////////////////////
[ RESTYLE TAG ]*/
/* 
* {
	margin: 0px; 
	padding: 0px; 
	box-sizing: border-box;
} */

body, html {
  height: 100%;
  font-family: sans-serif;
  background: radial-gradient(hsl(0, 100%, 27%) 4%, hsl(0, 100%, 18%) 9%, hsla(0, 100%, 20%, 0) 9%) 0 0, radial-gradient(hsl(0, 100%, 27%) 4%, hsl(0, 100%, 18%) 8%, hsla(0, 100%, 20%, 0) 10%) 50px 50px, radial-gradient(hsla(0, 100%, 30%, 0.8) 20%, hsla(0, 100%, 20%, 0)) 50px 0, radial-gradient(hsla(0, 100%, 30%, 0.8) 20%, hsla(0, 100%, 20%, 0)) 0 50px, radial-gradient(hsl(0, 100%, 20%) 35%, hsla(0, 100%, 20%, 0) 60%) 50px 0, radial-gradient(hsl(0, 100%, 20%) 35%, hsla(0, 100%, 20%, 0) 60%) 100px 50px, radial-gradient(hsla(0, 100%, 15%, 0.7), hsla(0, 100%, 20%, 0)) 0 0, radial-gradient(hsla(0, 100%, 15%, 0.7), hsla(0, 100%, 20%, 0)) 50px 50px, linear-gradient(45deg, hsla(0, 100%, 20%, 0) 49%, hsl(0, 0%, 0%) 50%, hsla(0, 100%, 20%, 0) 70%) 0 0, linear-gradient(-45deg, hsla(0, 100%, 20%, 0) 49%, hsl(0, 0%, 0%) 50%, hsla(0, 100%, 20%, 0) 70%) 0 0;
  background-color:#800;
  background-size: 100px 100px;
  
}
.form-container{
    width: 500px;
    background: #fff;
    border: 2px solid rgb(218,165,32);
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 3px 20px 0px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 3px 20px 0px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0 3px 20px 0px rgba(0, 0, 0, 0.1);
    -o-box-shadow: 0 3px 20px 0px rgba(0, 0, 0, 0.1);
    -ms-box-shadow: 0 3px 20px 0px rgba(0, 0, 0, 0.1);
    margin: auto;
    text-align:center;

}
button	{
	border: 2px solid rgb(218,165,32);
	background-color: green;
	color: white;
	border-radius: 12px;
	padding-right: 20px;
	padding-left: 20px;
	padding-top: 5px;
  padding-bottom: 5px;
  margin-bottom: 5px;
}
input{
    text-align: center;
    border-radius: 12px;
    height: 40px;
    max-width: 450px;
    background: #ebebeb;
    border: none;
    margin: 5px;
}
input:hover{
    background-color:#c1c4c9;
    border: none;
}
 form > *{
    text-align: center;
    margin: 5%;
    padding: 10%;
}
.top{
    font-family: sans-serif;
  font-size: 22px;
  color:rgb(218,165,32);
  text-align: center;
  background-color: green;
  padding-top: 5px;
  padding-bottom: 3px;
  border: 5px solid rgb(218,165,32);
  text-decoration: none;
}
